@import './base.css';

#app {
  width: 100vw;
  height: 100vh;
  font-weight: normal;
  font-family: Roboto, Arial;
}

.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

.bc-green {
  background-color: hsla(160, 100%, 37%, 1);
}

.bg-d6dce5 {
  background-color: white !important;
  font-size: 16px !important;
  font-weight: 700 !important;
  border: solid 1px rgba(0, 0, 0, 0.3) !important;
}

.break-word {
  overflow: hidden;
  white-space: pre-line !important;
  word-break: break-word;
}

.base-pagination {
  margin: 16px 0 12px;
}

.d-flex {
  display: flex;
}

.d-flex-gap20 {
  display: flex;
  gap: 20px;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.w-300 {
  width: 300px;
}

.w-180 {
  width: 180px;
}

.w-90 {
  width: 90px;
}

.w-20-percent {
  width: 20%;
}

.w-15-percent {
  width: 15%;
}

.w-65-percent {
  width: 65% !important;
}

.w-60-percent {
  width: 60% !important;
}

.text-center {
  text-align: center !important;
}

.el-input__wrapper {
  height: 32px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {}